@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* ШАПКА */
header {
    font-size: 14px;
    background-color: #ffffff;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;

    @media (max-width: 768px) {
        margin-left: 2%;
        margin-right: 2%;
    }
}


nav ul {
    list-style: none;
    display: flex;
    padding-left: 48px;
    padding-right: 48px;
    align-items: center;
}

nav li{
    padding-right: 24px;
}

.navbar_logo{
    padding-right: 24px;
}

nav ul li a {
    position: relative;  /* Добавлено для позиционирования псевдоэлемента относительно ссылки */
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #274da7;
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;  /* Увеличиваем ширину при наведении */
}

nav ul li a:hover {
    color: #274da7;
}

.icon_nav{
    margin-left: auto;
}
.icon_nav_user{
    padding-left: 24px;
    fill: #333333;
}
.icon_nav_user:hover{
    fill: #274da7;
}
.icon_nav_search{
    padding-left: 24px;
    fill: #333333;
}
.icon_nav_search:hover{
    fill: #274da7;
}



/* БЛОК 1*/
.container_1 {
    position: relative;
    padding-top: 78px;
    width: 100%;
    height: 700px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) for the desired level of darkness */
    z-index: 1;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* КНОПКА С ЗАГОЛОВКОМ */
.title_button {
    position: absolute;
    font-weight: normal;
    text-align: left;
    padding-left: 48px;
    top: 30%;
    left: 0;
    color: #fff; /* Цвет текста */
    z-index: 2;
}

h1 {
    font-weight: lighter; /* Изменение веса шрифта на жирный */
    font-size: 64px; /* Размер шрифта для заголовка */
    margin-bottom: 16px; /* Отступ снизу */
}

.select-cruise-button {
    background-color: #333333; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер шрифта кнопки */
    border: none; /* Убираем границу кнопки */
    cursor: pointer;
}
.select-cruise-button:hover {
    background-color: #274da7; /* Цвет фона кнопки */
    font-size: 16px; /* Размер шрифта кнопки */
    border: none; /* Убираем границу кнопки */
    cursor: pointer;
}
